<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <title>Bull and Bear</title>
  </head>
  <body>

  <header>

        <nav class="topNav">
          <nav class="addressNav">
            <a href="#">BULL AND BEAR</a>
          </nav>
          <a href="/menu">MENU</a>
          <a href="/events">EVENTS</a>
          <a href="tel:+19198473617">919.847.3617</a>
        </nav>
  </header>
  <br><br>
  <section class="events">
      Events Here
    </section>

<footer>
<a href="facebook.com/"><img class="fbIcon" src="assets/fbiconbullandbear.JPG" alt="follow us on facebook!"></a>

    Bull and Bear Restaurant | 919.847.3617 | 5442 Six Forks Rd, Raleigh, NC 27609

</footer>

  </body>
</html>
